@charset "UTF-8";
//初始化样式
@import "./core/reset";
//引入公有样式
@import "./modules/common";
//index
@import "./modules/Index";
//home
@import "./modules/home/home";
//way
@import "./modules/way/way";

html{
	height: 100%;
	width: 100%;
	body{
		width: 100%;
		height: 100%;
		#app{
			width: 100%;
			height: 100%;
		}
	}
}
