@charset "UTF-8";
//初始化样式
@import "./core/reset";
//index
@import "./modules/index/index";


html{
	height: 100%;
	width: 100%;
	body{
		width: 100%;
		height: 100%;
		#app{
			width: 100%;
			height: 100%;
		}
	}

}
