@charset "UTF-8";

$basecolor: #3bb55b;

@font-face {font-family: "yofont";
  src: url('/images/fonts/index.eot?t=1484301765'); /* IE9*/
  src: url('/images/fonts/index.eot?t=1484301765#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/fonts/index.woff?t=1484301765') format('woff'), /* chrome, firefox */
  url('/images/fonts/index.ttf?t=1484301765') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/fonts/index.svg?t=1484301765#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "yofont";
  src: url('/images/fonts/fonts_g/iconfont.eot'); /* IE9*/
  src: url('/images/fonts/fonts_g/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/images/fonts/fonts_g/iconfont.woff') format('woff'), /* chrome, firefox */
  url('/images/fonts/fonts_g/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/images/fonts/fonts_g/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon-xiangxiajiantouarrowdown:before { content: "\e604"; }//向下箭头 &#xe604;
.icon-jiantouxiangxia:before { content: "\e637"; } //箭头向下 &#xe637;
.icon-ttpodicon:before { content: "\e61f"; } //更多 &#e61f;
.icon-weibiaoti1:before { content: "\e600"; }//首页 &#e600;
.icon-iconfontgouwuche:before { content: "\e61b"; }//购物车 &#e61b;
.icon-56:before { content: "\e681"; }//商家 &#e681;
.icon-huiyuanzhongxin:before { content: "\e614"; }//会员中心  &#e614;
